/*  google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,800&family=Nunito:wght@300;400&display=swap');

/* universel code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

hr {
  border: none;
  border-top: 10px double #17e4c2;
  color: #17e4c2;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

hr:after {
  background: #fff;
  content: 'About';
  text-transform: uppercase;
  font-size: 3rem;
  padding: 0 4px;
  position: relative;
  top: -36px;
}

.blogHr:after {
  content: 'Blog';
}

.tableHr::after{
  content: "Table";
}

.contactHr::after{
  content: "Contact";
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem;
  margin: 4rem 0;
}

/* all button and hover here */
.btn {
  text-decoration: none;
  padding: 6px 20px;
  background: #17e4c2;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 2px;
  transition: 200ms ease-in-out;
  border: 2px solid #17e4c2;
}

.navList a:hover {
  color: violet;
}

.heroBtn:hover {
  background: transparent;
  color: #17e4c2;
}

.about-btn:hover {
  background: transparent;
  color: #17e4c2;
}

.blogBtn:hover {
  background: transparent;
  color: #17e4c2;
}

.tableBtn{
  text-decoration: none;
  color: #17e4c2;
  border: 2px solid white;
  padding: 6px 10px;
  background-color: white;
  border-radius: 2px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.tableBtn:hover{
  background-color: transparent;
  color: white;
}

.footerLeft >a:hover{
  color: violet;
}

.contactBtn:hover{
  background-color: transparent;
  color: #17e4c2;
}
/* end of button and hover */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  margin-left: 3rem;
}

nav {
  margin-right: 3rem;
}

.navItem {
  display: flex;
  list-style: none;
}

.navList {
  margin-left: 3.3rem;
}

.navList a {
  color: #17e4c2;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 200ms ease-in-out;
}

.icon {
  margin-right: 4px;
}

/*  hero section  */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 8px solid #17e4c2;
}

.similarWidth {
  width: 30%;
  margin: 0 4rem;
}

.description {
  text-align: justify;
}

.middle {
  width: 40%;
  text-align: center;
}

.heroImg {
  width: 100%;
  height: 80vh;
}

.bigHeading {
  font-size: 2.3rem;
  padding-left: 8px;
  color: #17e4c2;
  border-left: 3px double;
  border-image-slice: 1;
}

/*  about section  */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-width {
  width: 35%;
}

.ml {
  margin-left: 4rem;
  margin-right: -4rem;
}
.aboutCard {
  background-color: violet;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.6);
  margin-bottom: 3rem;
  border-radius: 20px;
  padding: 2rem;
}

.aboutIcon {
  font-size: 4rem;
  color: #17e4c2;
}

.cardDes {
  font-size: 15px;
  margin-bottom: 2rem;
}

.aboutDetails {
  margin-right: 2rem;
  background: violet;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 80vh;
  padding: 0 1rem;
}

.aboutSmall {
  border: 2px solid #17e4c2;
  font-weight: 500;
  padding: 4px 8px;
}

.aboutHeading {
  margin: 1rem 0;
  font-size: 3rem;
  border-left: 4px solid #17e4c2;
  padding-left: 1rem;
}

.aboutDes {
  border-left: 4px solid #17e4c2;
  padding-left: 1rem;
  text-align: justify;
  font-size: 15px;
  margin: 2rem 0;
}

.point {
  display: flex;
  justify-content: space-between;
}

.count {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  border-bottom: 3px solid #17e4c2;
  color: white;
}

.blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: #7d7de0;
}

.blog::before,
.blog::after {
  content: '';
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  height: 200px;
  background-color: white;
  transform: skewY(-5deg);
}

.box {
  width: 400px;
  height: 500px;
  padding: 1rem;
  z-index: 100;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.blogImg {
  width: 100%;
}

.blogDes {
  padding-bottom: 1rem;
  color: white;
  font-size: 15px;
}

table {
  width: 80%;
  margin: 0 auto;
  background-color: #17e4c2;
  padding: 1rem;
  color: gray;
}

th {
  padding: 4px 8px;
  font-size: 1.3rem;
  color: black;
}
td>img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

th,
td {
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
td{
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

/* footer  */
footer{
  width: 100%;
  background-color: #17e4c2;
  text-align: center;
  color: gray;
}


.footerFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.footerLeft > h2{
  font-size: 2.1rem;
  font-weight: 900;
}

.footerLeft > a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 0;
  margin: 6px;
  transition: color 200ms ease-in-out;
}

.footerContactList{
  list-style: none;
  margin: 6px 0;
}

.footerMiddle{
  width: 10px;
  height : 100px;
  background: gray;
  position:relative;
}

.ball{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

.ball-1{
  transform: translate(-20px,80px);
  animation: ball-1 .7s  ease-in-out .5s infinite  alternate;
  animation-play-state: running;

}

.ball-2{
  transform: translate(10px);
  animation: ball-2 .7s  ease-in-out .5s infinite  alternate;
  animation-play-state: running;

}

@keyframes ball-1 {
  0%{
    background-color: lime;
    top :0;
  }
  100%{
    background-color: white;
    top:-80px;
  }
}

@keyframes ball-2 {
  0%{
    background-color: lime;
    top :0;
  }
  100%{
    background-color: white;
    top:80px;
  }
}

/* contact form */
.contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactImg > img{
  width: 100%;
  border-left: 4px solid #17e4c2 ;
}

form{
  width: 300px;
  height: 400px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem ;
  border-bottom: 4px solid #17e4c2;
}
input{
  margin: .9rem 0;
  display: block;
  outline: none;
  border: none;
  padding: 6px 0;
  border-bottom: 2px solid #17e4c2;
  cursor: pointer;
}

textarea{
  border: none;
  outline: none;
  border: 2px solid #17e4c2;
  display: block;
}

textarea::placeholder{
  padding: 5px ;
}
.contactBtn{
  outline: none;
  border: none;
  background-color: #17e4c2;
  border: 2px solid #17e4c2;
  display: inline-block;
  margin-right: 2rem;
  padding: 4px 8px ;
  color: black;
  transition: color 200ms ease-in-out;
  border-radius: 2px;
}